@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

strong, b {
    font-weight: bold;
}

.filler {
    height: 20rem;
    text-align: center;
  }

.scrolly {
  display: -webkit-box;
  display: flex;
  margin: 5%;
  padding: 1rem;
}

.scrolly > * {
  -webkit-box-flex: 1;
          flex: 1;
}

article {
  padding-right: 1rem;
  max-width: 30rem;
}

.step {
  min-height: 67vh;
  margin-bottom: 1rem;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.step:last-of-type {
  margin-bottom: 0;
}

.step.is-active p {
  color: black;
}

.step p {
  margin: 0;
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: lightgray;
}

figure.sticky {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 5%;
  left: 0;
}

.bar-inner {
  width: 80%;
  margin-right: 10%;
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}

