@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

strong, b {
  font-weight: bold;
}

.filler {
  height: 20rem;
  text-align: center;
}

.scrolly {
  display: -webkit-box;
  display: flex;
  width: 100%;
  max-width: 1020px;
}

article {
  width: 36%;
}

.step {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 55vh;
  margin-bottom: 1rem;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.step:last-of-type {
  margin-bottom: 0;
}

.step.is-active p {
  color: black;
}

.step.is-active a {
  color: steelblue;
}

.step p {
  margin: 0;
  padding: 0;
  #font-weight: 300;
  font-family: 'helveticaneueregular', sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: lightgray;
}

.step a {
  color: lightgray;
}

.sticky-image {
  width: 480px;
  height: auto;
  object-fit: contain;
}

figure.sticky {
  position: -webkit-sticky;
  position: sticky;
  width: 64%;
  height: 100%;
  margin: 0;
  top: 5%;
  left: 0;
}

.bar-inner {
  width: 100%;
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}

.bar-outer {
  margin-right: 10%;
  height: 85vh;
  display: flex;
}
