@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
@font-face {
    font-family: 'helveticaneueblackcond';
    src: url('fonts/helveticaneue_blackcond-webfont.eot');
    src: url('fonts/helveticaneue_blackcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneue_blackcond-webfont.woff') format('woff'),
         url('fonts/helveticaneue_blackcond-webfont.ttf') format('truetype'),
         url('fonts/helveticaneue_blackcond-webfont.svg#helveticaneueblackcond') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneueregular';
    src: url('fonts/helveticaneue_light-webfont.eot');
    src: url('fonts/helveticaneue_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneue_light-webfont.woff') format('woff'),
         url('fonts/helveticaneue_light-webfont.ttf') format('truetype'),
         url('fonts/helveticaneue_light-webfont.svg#helveticaneuelight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'helveticaneuebold';
  src: url('fonts/helvetica_neu_bold-webfont.eot');
  src: url('fonts/helvetica_neu_bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/helvetica_neu_bold-webfont.woff') format('woff'),
        url('fonts/helvetica_neu_bold-webfont.ttf') format('truetype'),
        url('fonts/helvetica_neu_bold-webfont.svg#helveticaneuebold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'helveticaneuelight';
    src: url('fonts/helveticaneue-webfont.eot');
    src: url('fonts/helveticaneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneue-webfont.woff') format('woff'),
         url('fonts/helveticaneue-webfont.ttf') format('truetype'),
         url('fonts/helveticaneue-webfont.svg#helveticaneueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue-CondensedBold";
  src: url("fonts/FontsFree-Net-HelveticaNeueCondensedBold.eot"); /* IE9 Compat Modes */
  src: url("fonts/FontsFree-Net-HelveticaNeueCondensedBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/FontsFree-Net-HelveticaNeueCondensedBold.otf") format("opentype"), /* Open Type Font */
    url("fonts/FontsFree-Net-HelveticaNeueCondensedBold.svg") format("svg"), /* Legacy iOS */
    url("fonts/FontsFree-Net-HelveticaNeueCondensedBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/FontsFree-Net-HelveticaNeueCondensedBold.woff") format("woff"), /* Modern Browsers */
    url("fonts/FontsFree-Net-HelveticaNeueCondensedBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneuemedium';
  src: url('fonts/helveticaneuemed-webfont.woff2') format('woff2'),
       url('fonts/helveticaneuemed-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html {
	font-family: 'helveticaneue', serif;
	margin: 0;
  width: 100%;
}

.static-wrapper {
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
}

.interactive-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

.static {
  width: 100%;
  max-width: 1020px;
}

.interactive {
  width: 100%;
  max-width: 1300px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 13px -2px rgba(0,0,0,0.5); 
  box-shadow: 0px 2px 13px -2px rgba(0,0,0,0.5);
  padding: 32px;
}

.subtitle {
	font-size: 24px;
  font-family: 'helveticaneueregular', sans-serif;
  color: black;
}

.authors {
  font-family: 'helveticaneueregular', sans-serif;
  font-size: 18px;
  padding-top: 1%;
}

a {
  color: steelblue;
}

h1 {
	font-weight: normal;
	font-size: 55px;
  font-family: 'helveticaneueblackcond', sans-serif;
  margin-bottom: 8px;
  color: black;
}

h2 {
	font-family: 'HelveticaNeue-CondensedBold', sans-serif;
  font-size: 44px;
  line-height: 52px;
  color: black;
  margin-bottom: 8px;
}

.interactive-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
}

.interactive-description {
  font-family: 'helveticaneueregular', sans-serif;
  font-size: 16px;
  color: #5E5E5E;
  line-height: 18px;
}

.label {
  font-size: 18px;
  font-weight: lighter;
	margin: 0px;
  margin-right: 8px;
	padding-left: 5px;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

#network-count {
  width: 40px;
}

#network {
  cursor: pointer;
	width: 100%;
	height: 90vh;
}

h3 {
	font-family: 'HelveticaNeue-CondensedBold', sans-serif;
  font-size: 32px;
  line-height: 38px;
  color: black;
  margin-bottom: 8px;
}

p {
	font-family: 'helveticaneueblackcond', sans-serif;
	font-size: 18px;
	line-height: 2;
}

body {
	overflow-x: hidden;
	width: 100%;
	overflow: auto;
  margin: 0;
  line-height: normal;
}

.body-text {
  font-family: 'helveticaneueregular', sans-serif;
  #font-weight: 300;
	#font-family: 'Neuton', serif;
  font-size: 20px;
  line-height: 30px;
  #font-weight: light;
  letter-spacing: 0.15px;
}

.backer {
	opacity: .5;
	display: inline;
	position: absolute;
	top: 0;
	height: 300px;
}

button {
	height: 100px;
	border: 2px solid steelblue;
	border-radius: 10px;
	padding: 10px;

	font-size: 18px;
	font-family: 'Work Sans', sans-serif;
	color: white;
	background-color: steelblue;
	opacity: .5;
}

line {
	stroke: #00AA8D;
	fill: none;
}

strong, b {
    font-weight: bold;
}

.caption {
	text-align: center;
  font-style: italic;
  font-weight: 300;
	#font-family: 'Neuton', serif;
  font-family: 'helveticaneueregular', sans-serif;
  font-size: 18px;
  line-height: 23px;
}

.center {
	text-align: center;
}

.counter {
	font-family: 'Work Sans', sans-serif;
	font-size: 18px;
	text-align: center;
}

.number {
	font-family: 'Work Sans', sans-serif;
	font-size: 18px;
	text-align: center;
	color: steelblue;
}

#counter-impact {
	font-size: 48px;
	font-weight: bold;
}

.bright {
	border: 1px solid steelblue;
}

.horizontal-flex {
	display: flex;
	flex-direction: row;
  justify-content: center;
}

.horizontal-flex-left {
	display: flex;
	flex-direction: row;
  justify-content: left;
}

#bio_label {
  font-family: 'helveticaneuemedium', sans-serif;
  font-size: 22px;
}

#fakenews_scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

.space-around {
	justify-content: space-around;
}

.vertical-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
}

.scatter-side {
  align-self: auto;
  align-items: stretch;
  flex: 1;
}

.forty {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.scroll {
	height: 300px;
	overflow-y: auto;
  border: 0.5px solid #697D8C;
  border-top: none;
  overflow-x: hidden;
  padding: 8px;
  border-radius: 0px 0px 8px 8px;
}

.spacer-small {
	height: 24px;
}

.spacer-med {
	height: 48px;
}

.spacer-large {
	height: 75px;
}

.spacer {
	height: 50px;
}

#subtitle {
	position: absolute;
}

.bio {
  background-color: white;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 13px -2px rgba(0,0,0,0.5); 
  box-shadow: 0px 2px 13px -2px rgba(0,0,0,0.5);
  padding: 8px;
  width: 100%;
  height: 150px;
}

.profile {
	padding: 8px;
	font-size: 14px;
  font-family: 'helveticaneueregular', sans-serif;
  background-color: #1DA1F2;
  color: white;
  border-radius: 8px 8px 0px 0px;
}

p {
  margin: 0;
}

hr {
  margin-top: 16px;
  margin-bottom: 8px;
}

.tweet {
	font-family: 'helveticaneueregular', sans-serif;
	font-size: 14px;
	line-height: 1;
}

.tweet.h1 {
  font-family: 'helveticaneuebold', sans-serif;
}

.tweet.body {
  margin-top: 8px;
}

.scatter-interactive-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}

.tweet-header {
	font-size: 18px;
	font-family: 'helveticaneuebold', sans-serif;
}

.tooltip, .network-tooltip {
    position: absolute;
    font-size: 12px;
    font-family: 'helveticaneueregular', sans-serif;
    width:  auto;
    height: auto;
    pointer-events: none;
    background-color: #f4f4f4;
    opacity: 0;
    padding: 8px;
}

.tooltip-text {
	color: steelblue;
}

.tooltip-header{
	font-family: 'helveticaneuebold', sans-serif;
	font-size: 14px;
}

.handle {
	color: #DDDDDD;
	padding-bottom: 5px;
}

.h2 {
	font-size: 14px;
	color: #697D8C
}

hr {
	border: .5px solid #697D8C;
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EEEEEE;
  border-style: solid;
  border-color: #A5A5A5;
  border-width: 0.5px;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  left: 4px;
  bottom: 2px;
  background-color: #A5A5A5;
  border-color: white;
  border-width: 0.5px;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  border-style: solid;
  border-color: white;
  border-width: 0.5px;
  background-color: steelblue;
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0,111,255,0.5);
  -moz-box-shadow: 0px 0px 6px 2px rgba(0,111,255,0.5);
  box-shadow: 0px 0px 6px 2px rgba(0,111,255,0.5);
}

input:focus + .slider {
  box-shadow: 0 0 0px steelblue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(34px);
  -ms-transform: translateX(34px);
  transform: translateX(34px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

#wordcloud-slider {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.wordcloud-container {
  padding-top: 60px;
  background-color: #f4f4f4;
}

#hashtag-timeline-container {
  display: flex;
  justify-content: center;
  border-radius: 3px;
}

.figure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side-figure {
  display: flex;
  flex-direction: column;
  padding: 0px;
  padding-left: 32px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.figure {
  width: 500px;
}

.header-subtitle {
  text-align: center;
  color: #aaaaaa;
  font-size: 20px;
}

.header-authors {
  text-align: center;
  font-size: 12px;
}

.gray-bg-container {
  padding-top: 18px;
  margin-top: 40px;
  width: 100%;
  background-color: #f4f4f4;
}

.graph-menu-row {
  margin-bottom: 20px;
}

.graph-menu-option {
  margin-left: 12px;
}

.note {
  display: flex;
  justify-content: center;
  font-family: 'helveticaneue', sans-serif;
  font-size: 10px;
  font-style: italic;
  margin-top: -20px;
  margin-bottom: 16px;
}

.counter-final-label {
  font-weight: bold;
}

.overview-header {
  font-size: 32px;
}

#scroll-top-wrapper {
  opacity: 1;
  background-color: rgba(50, 0, 0, 1); 
  border-color: rgba(0, 0, 0, 0); 
}

#scroll-top-img {
  margin: 12px;
  cursor: pointer;
  position: fixed; 
  right: 0; 
  bottom: 0;
  width: 60px;
  z-index: 1;
}
